body {
    font-family: Montserrat, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1080px;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

.card-header {
    margin-bottom: 20px;
}

.field {
    margin-bottom: 10px;
}

.field-label {
    font-size: 14px;
    color: #3390EC;
    margin-bottom: 5px;
}

.field-value input, .field-value select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.field-value input[type="date"] {
    font-family: Arial, sans-serif;
}

.send-button {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

.send-button button {
    background-color: #0D99FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button button:hover {
    background-color: #0088cc;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.full-width {
    grid-column: 1 / -1;
}

#qr-container {
    width: 100%;
    max-width: 300px;
    height: 300px;
    position: relative;
    margin: 0 auto 10px auto;
    border: 1px solid #ddd;
    background-color: #fff;
}

#qrCanvas, #qr-reader {
    width: 100%;
    height: 100%;
}

#showQrContent, #scanQrCode {
    background-color: #0D99FF;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px 10px 5px;
}

#showQrContent:hover, #scanQrCode:hover {
    background-color: #0088cc;
}

#qrContent {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    text-align: left;
}

#closeScanner:hover {
    background-color: #cc0000;
}
